.sidenav {
  background: rgba(51, 51, 51, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  &_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    width: 400px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #c4c4c4;
    top: 20%;
    transform: rotate(-90deg);
  }

  .sidenav_hr {
    width: 3px;
    height: 80px;
    background-color: #c4c4c4;
    margin-bottom: 30px;
  }

  i {
    font-size: 26px;
  }

  &_navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    padding-bottom: 10px;

    &_item {
      a {
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $main_gold;

          svg {
            path {
              fill: $main_gold;
            }
          }
        }
      }
    }
  }
}

.phone {
  background: #333333;
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  padding: 30px 38px;

  &.active {
    left: 0%;
  }

  .close_svg {
    display: flex;
    justify-content: flex-end;

    i {
      color: white;
    }
  }
}

@media screen and (max-width: $phone_width) {
  .sidenav {
    display: none;
  }
}
