@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333333;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.header {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 63px;
  list-style: none;
}

.header_navigation_item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.header_phone_number {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #fff;
}

.header_phone_number::after {
  content: "";
  width: 100%;
  display: block;
  margin-top: 2px;
  height: 2px;
  background-color: #D1A954;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.hero_content_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #ffffff;
}

.hero_content_desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 49px;
}

.hero_content_btn {
  padding: 10px 47px;
  background-color: #D1A954;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  border: none;
}

.hero_slider_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_slider_navigation_back, .hero_slider_navigation_next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.hero_slider_navigation_back p, .hero_slider_navigation_next p {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero_slider_navigation_back p {
  color: #c4c4c4;
}

.sidenav {
  background: rgba(51, 51, 51, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidenav_text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  width: 400px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
  bottom: 38%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sidenav_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about {
  background: #333333;
  padding: 150px 0;
}

#about .about_heading {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
}

#about .about_heading span {
  color: #D1A954;
}

#about .about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .about_container_left {
  max-width: 445px;
}

#about .about_container_left_heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #FFFFFF;
}

#about .about_container_left_desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

#about .about_container_center h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 280px;
  color: #FFFFFF;
}

#about .about_container_center_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

#about .about_container_center_info p {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

#about .about_container_center_info p span {
  color: #D1A954;
}
/*# sourceMappingURL=main.css.map */